<div>
  <app-term-search [searchTerm]="state.searchTerm"
                   (onSearchTermChange)="onSearchTermChange($event)"
                   (selectTermFromDropDown)="selectTermFromDropDown($event)"
                   (onUberonIriChange)="onUberonIriChange($event)"> </app-term-search>

  <div id="term_tree">
    <app-term-tree [uberonIri]="state.uberonIri"
                   (selectTermInTree)="selectTermInTree($event)"> </app-term-tree>
  </div>
</div>

<!--<div>-->
<!--<mat-card class="term_explorer">-->
  <!--<mat-card-title>Term Explorer</mat-card-title>-->
  <!--&lt;!&ndash;<hr width="100%" align="left">&ndash;&gt;-->
  <!--<hr id="line"/> <br>-->
  <!--<mat-card-content id="term-search">-->
      <!--<app-term-search [searchTerm]="state.searchTerm"-->
                   <!--(onSearchTermChange)="onSearchTermChange($event)"-->
                   <!--(selectTermFromDropDown)="selectTermFromDropDown($event)"-->
                   <!--(onUberonIriChange)="onUberonIriChange($event)"> </app-term-search>-->
  <!--</mat-card-content>-->
  <!--<mat-card-content id="term_tree">-->
      <!--<app-term-tree [uberonIri]="state.uberonIri"-->
                 <!--(selectTermInTree)="selectTermInTree($event)"> </app-term-tree>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->
<!--</div>-->




